<div id="welcome">
    <p>Account successfully created!</p>
    <br>
    <p>You can listen to the publicly available music <a href="/listen">here</a>. Note it may take a minute or so for the music to appear after initial account creation.</p>
    <br>
    <p>If this music is not to your taste, or you're interested in being able to listen to more, then you can add more music by following the steps <a href="/upload">here</a>.</p>
    <p>Watch the below tutorial for more information</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0Qtn0xAVOcI?si=c9tQZ1WnN9QT8ZEz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
