{% extends "/shared/_base.html" %}
{% block content %}
    <header>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <p>BACK-TO-FRONT - ABOUT</p>
                </div>
            </div>
        </section>
    </header>
    <section class="section">
        <div class="container">
            <div id="about_section" class="flex flex-col items-left py-10">
                <p>Back-to-Front is a demo web app built with Python and HTMX.</p>
            </div>
    </div>
</section>
{% endblock %}